@import "../../style.scss";

.comments {
  width: 100%;

  @include themify($themes) {
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }

    .write {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      margin: 20px 0px;
      // flex-wrap: wrap;
      // width: 100%;

      input {
        // flex: 1;
        width: 100%;
        padding: 10px;
        border: 1px solid themed("border");
        background-color: transparent;
        color: themed("textColor");
      }

      button {
        border: none;
        background-color: #5271ff;
        color: white;
        padding: 10px;
        cursor: pointer;
        border-radius: 3px;
      }
    }

    .comment {
      margin: 20px 0px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 20px;

      .info {
        flex: 6;
        margin: 0;

        span {
          font-weight: 700;
          color: themed("textColorSoft");
        }

        div {
          color: themed("textColorSoft");

          .date {
            // align-self: center;
            margin-top: 5px;
            color: gray;
            font-size: 12px;
          }
        }
      }
    }
  }
}