@import "../../style.scss";

.home {
  max-width: 100vw;
  // overflow-x: hidden;

  @include themify($themes) {
    padding: 20px 70px;
    // background-color: themed("bg");
    background-color: themed("bgSoft");

    @include tablet {
      padding: 20px;
    }

    @include mobile {
      padding: 10px;
    }
  }
}